<!--The content below is only a placeholder and can be replaced.-->

<div class="jumbotron header">
    <div class="container">
        <h1>
            <i class="fa fa-bike" aria-hidden="true"></i>
            StravDuro!
        </h1>
    </div>
</div>
<div *ngIf="loggedIn"><button mat-raised-button (click)="logout()">logout</button></div>
<div *ngIf="!loggedIn"><button mat-raised-button (click)="login()">login</button></div>
TESTDURO:{{testDuro | json}}
<div *ngIf="loggedIn && currentUser && currentUser._id == null">
    <input [(ngModel)]="currentUser.firstName">
    <input [(ngModel)]="currentUser.lastName">
    input user stuff {{currentUser|json}}
    <button mat-raised-button (click)="submitUserInfo()">submit info</button>
</div>
<router-outlet></router-outlet>