.site-container {
  display: grid;    
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr auto 1fr;  
  column-gap: 2rem;
  row-gap: 1rem;
}

header {
  grid-column: span 12;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #263238;  
}



aside {  
  grid-column: 3 / span 2;  
    
}
main {
  grid-column: 5 / span 6;
  
}


