<div class="site-container">
    <header><div class="header-content"><app-header></app-header></div></header>
    <aside *ngIf="loggedIn"><mat-card style="height:400px;"><app-myduros></app-myduros></mat-card></aside>
    <main><router-outlet></router-outlet></main>    
</div>

<!--div *ngIf="loggedIn"><button mat-raised-button (click)="logout()">logout</button></div>
<div *ngIf="!loggedIn"><button mat-raised-button (click)="login()">login</button></div>
TESTDURO:{{testDuro | json}}
<div *ngIf="loggedIn && currentUser && currentUser._id == null">
    <input [(ngModel)]="currentUser.firstName">
    <input [(ngModel)]="currentUser.lastName">
    input user stuff {{currentUser|json}}
    <button mat-raised-button (click)="submitUserInfo()">submit info</button>
</div-->